$desktop: 1026px;
$mobile: 1025px;

@mixin device($size) {
    @if $size ==desktop {
        @media screen and (min-width: #{$desktop}) {
            @content;
        }
    }

    @else if $size ==mobile {
        @media screen and (max-width: #{$mobile}) {
            @content;
        }
    }
}

.content{
    @include device(desktop){
        max-width: 1330px;
        width: calc(100% - 90px);
        height: 100vh;
    }
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include device(mobile) {
        flex-direction: column;
        width: calc(100% - 90px);
        margin: 45px auto;
    }
}